<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Welcome to the homepage for Mitchell Barkley's Final Individual Sprint Project!</h1>
<h2><a href="/create">Click here to create a binary tree.</a></h2>
<h2><a href="/about">About the developer of this page.</a></h2>
</body>
</html>
